@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import "navbar.css";
@import "buttons.css";

#content {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

body {
  background: #272727;
  font-family: "Montserrat", sans serif;
  height: 100%;
  /*overflow: hidden;*/
}
#screenshotList {
  
}

#presentButtons {
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/4;
}

#questionSection {
  justify-items: center;
  border: none;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  background-color: orange;
  grid-column: 2/3;
  grid-row: 1/2;
}

/* Notes Section */
#noteContainer {
  grid-column: 3/4;
  grid-row: 1/3;
  justify-self: center;
  border: none;
  display: flex;
  align-items: center;
}

#note {
  height: auto;
  overflow-y: hidden;
  margin-left: 5%;
  resize: none;
  min-height: 90%;
  max-height: 400px;
  min-width: 200px;
  border-radius: 5px;
  border: 2px solid white;
  background: #ffe2d6;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 3px;
  bottom: 15%;
}

input[type="text"]::placeholder {
  color: #ff7824;
}

textarea::placeholder {
  color: #ff7824;
}